body {
  margin: 0;
  /* color: white; */
  font-family: "Open Sans", sans-serif;
  
}
/* main {
  height:auto;
  text-align: center;
  padding-top: 22vh;
  width: 100vw;
  background-color: pink;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
