@font-face {
  font-family: 'Mathery';
  src: url("./fuentes/Mathery-Heavy.ttf");



}
  
  body { 
    background: 
    blue 
    url(https://previews.123rf.com/images/vilisov/vilisov1503/vilisov150300004/37144441-abstracto-n%C3%BAmeros-digitales-fondo-azul.jpg)
    no-repeat
    center/cover ;
    height: 1200px;
    

  }
  
  
  #display {
    width: 400px;
    height: 80px;
    margin-bottom: 5px;
    line-height: 80px;
    text-align: right;
    border-radius: 5px;
    font-size: 40px;
    padding: 0px;
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #2f3b56;
    font-family: 'Mathery',sans-serif;
    box-shadow: 10px -10px 10px #6C90D8 ;


  } 


  .botones { 
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    width: 50px;
    height: 50px;
    margin:10% auto;
    width: 400px;
    height: auto;
    gap: 1px;
    

  }
  
  .botones button {
    border-radius: 50%;
    background-color: black;
    color: #b3efff;
    font-family: 'Mathery';
    font-size: 26px;
    text-shadow: 2px -2px 3px #6c90d8;
    border:2px dotted #b3efff;
    
  }

  button:active { 
    background-image: radial-gradient(circle at 38.4% 70.1%, #b3efff 0, #6c90d8 50%, #2f3b56 100%);
  
    color: black;
  }

